*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/scripts/output
.externalNativeBuild
.cxx
local.properties
my-release-key.keystore
my-release-key.keystore.base64
my-release-key.keystore.base64.singleline
.vscode/settings.json
